@charset "utf-8";
/* CSS Document */
body{
	font-family: open sans, sans-serif;
}
input.ng-pristine,textarea.ng-pristine{
	border:none;
	box-shadow:none;
}
.outer_form{
	background:#4BAAD3;
	padding:12px;
	box-shadow: 0 0 5px #FFF;
}
.outer_form > p {
    border-bottom: 1px solid #ccc;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 2px;
    text-align: center;
}
.container{
	max-width:400px; 
	width:96%;
	margin:10px auto;
	padding:10px;
	border:#CCC;
	background:#0F222A;
}
label{
	font-size:14px;
	display:inline-block;
	padding-bottom:3px;
	color:#FFF;
}
.message{
	color: #000;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
div.form_block{
	margin-bottom:10px;
}
span.error_msg{
	font-size:12px;
	color:#000;
}
div.form_block > input,div.form_block > textarea{
	border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    padding: 8px 5px;
    width: 80%;
	-moz-box-shadow:    inset 0 0 5px #CCC;
    -webkit-box-shadow: inset 0 0 5px #CCC;
    box-shadow:         inset 0 0 5px #CCC;
}
.logo{
	margin:auto;
	display:block;
	padding-bottom:10px;
}
div.form_block > textarea{
	width:100%;
}
.clear{
	clear:both;
}
[jb-rating] {
    width: 100%;
    text-align: center;
    margin: auto;
}
.rating{
    color: #CCC;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
    float:left;
}
.submit{
    background:#982a2a;
    padding:5px 15px;
    border:none;
    color:#FFF;
    font-size:14px;
    border-radius:3px;
} 		
.rating li {
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    height: 24px;
    line-height: 30px;
    list-style-type: none;
    padding: 0 2px;
    text-align: center;
}

.rating .filled {
    color: #f6cb41;
}

.custom-rating{
    line-height: 1.42857;
}
.button.disabled, button[disabled]{
	opacity:.4;
	cursor:default;
}
button{
	cursor:pointer;
}
.success_msg{
	display:none;
}