<!doctype html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<title>Test Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Start -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/normalize.css" >
<link href="css/style.css" rel="stylesheet" type="text/css" >
<!-- CSS End -->
<!-- JS Start -->
<script data-require="ionic@*" data-semver="1.0.0-beta6" src="http://code.ionicframework.com/1.0.0-beta.6/js/ionic.bundle.js"></script>
<script src="js/script.js" type="text/javascript"></script>
<!-- JS End -->
</head>

<body>
<div class="container" ng-controller="MyCtrl">
	<img src="logo.png" alt="logo" class="logo" >
	<div class="outer_form">
    	<p>Please review the product you have just purchased.</p>
        <div id="messages" class="message" ng-show="message">"{{ message }}"</div>
        <div id="errors" class="message" ng-show="error">"{{ error }}"</div>
        <form ng-submit="submit(form.$valid)" name="form" >
            <div class="form_block">
                <label for="email">Rating *</label>
                <div class="list"  >
                     <div jb-rating ng-model="user.rating" max="5" readonly="false" ng-required="true"></div>
                     
                </div>
                <div class="clear"></div>
            </div>
            <div class="form_block">
                <label for="email">Email *</label>
                <input type="email" name="email" ng-model="user.email" required >
                <span ng-show="form.email.$dirty && form.email.$error.email" class="error_msg">* Please check your email</span>
            </div>
            <div class="form_block">
                <label for="comment">Comment *</label>
                <textarea name="comment" ng-model="user.comment" ng-required="true" >
                </textarea>
                <span ng-show="form.comment.$dirty && form.comment.$error.required" class="error_msg">* Please enter comments</span>
            </div>
            <button type="submit" class="submit"  ng-disabled="form.$invalid">SUBMIT</button>
        </form>
        <div ng-model="result"></div>
    </div>
</div>
</body>
</html>
